<h1 class='about-header'>About Us</h1>

<hr>

<img class='about-img' src=<%= @image %> alt="product 1">

<div class="about-text">
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A tenetur officiis harum doloribus modi blanditiis nulla quae debitis voluptate necessitatibus, illum excepturi possimus et! Sed deleniti soluta minima fuga laboriosam?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati libero, perspiciatis facere nemo beatae nostrum vel inventore sit maxime, repellendus voluptatem dolor illo ducimus iste id dignissimos omnis nisi deleniti! . A tenetur officiis harum doloribus modi blanditiis nulla quae debitis voluptate necessitatibus, illum excepturi possimus et! Sed deleniti soluta minima fuga laboriosam?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A tenetur officiis harum doloribus modi blanditiis nulla quae debitis voluptate necessitatibus, illum excepturi possimus et! Sed deleniti soluta minima fuga laboriosam?</p>
</div>

<footer class='about-footer'> <%= link_to 'Back to Main Page', :root %> </footer>